# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_DESKTOP_APP_URL="http://localhost:3000"

# Database
DATABASE_URL=""

# Auth (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

# Payments (Stripe)
STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# AI Providers
FAL_API_KEY=""
REPLICATE_API_TOKEN=""

# Background Jobs (Inngest)
INNGEST_SIGNING_KEY="DEV_NOT_NEEDED"

# Analytics (Posthog)
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"

# File Storage (Vercel Blob)
BLOB_READ_WRITE_TOKEN=""
BLOB_URL=""

# Assets
NEXT_PUBLIC_ASSET_URL=""
ASSET_URL=""

# Misc
CRON_SECRET=""
DEBUG="false"
# NEXT_PUBLIC_DEBUG=false
# NEXT_PRIVATE_DEBUG_CACHE=1

